//! Font-sizes
$font-size-regular: 1em;

$font-size-small_1: math.div($font-size-regular, 2)*1.5;
$font-size-small_2: math.div($font-size-regular, 2);
$font-size-small_5: math.div($font-size-regular, 5);
$font-size-small_10: $font-size-regular * 0.075;

$font-size_large_1: $font-size-regular *1.5;
$font-size-large_2: $font-size-regular *2;
$font-size-large_3: $font-size-regular *3;
$font-size-large_4: $font-size-regular *4;
$font-size-large_5: $font-size-regular *5;


//! Gutter-sizes
$gutter-regular: 100px;

$gutter-small_1: math.div($gutter-regular, 1.5);
$gutter-small_2: math.div($gutter-regular, 2);
$gutter-small_3: math.div($gutter-regular, 3);
$gutter-small_4: math.div($gutter-regular, 4);
$gutter-small_5: math.div($gutter-regular, 5);
$gutter-small_6: math.div($gutter-regular, 6);
$gutter-small_7: math.div($gutter-regular, 7);
$gutter-small_8: math.div($gutter-regular, 8);
$gutter-small_9: math.div($gutter-regular, 9);
$gutter-small_10: math.div($gutter-regular, 10);

$gutter-large_1: $gutter-regular*1.5;
$gutter-large_2: $gutter-regular*2;
$gutter-large_3: $gutter-regular*2.5;
$gutter-large_4: $gutter-regular*3;
$gutter-large_5: $gutter-regular*3.5;
$gutter-large_6: $gutter-regular*4;


//! Colors
$color-title:rgba(26, 160, 223);
$color-text: #97b0bc;
$color-fof: #f0f;


//! Media queries values
$tablet-min: 379px; // min-width of iPad (378px = max-width of iPhone X)
$tablet-max: 767px; // max-width of iPad
$desktop-min: 768px; // min-width of iPad pro
