//! Font-sizes
$font-size-regular: 1em;

$font-size-small_1: math.div($font-size-regular, 2)*1.5;
$font-size-small_2: math.div($font-size-regular, 2);

$font-size_large_1: $font-size-regular *1.5;
$font-size-large_2: $font-size-regular *2;
$font-size-large_3: $font-size-regular *3;
$font-size-large_4: $font-size-regular *6;
$font-size-large_5: $font-size-regular *12;


//! Gutter-sizes
$gutter-size-regular: 100px;

$gutter-size-small_1: math.div($gutter-size-regular, 1.5);
$gutter-size-small_2: math.div($gutter-size-regular, 2);
$gutter-size-small_3: math.div($gutter-size-regular, 2.5);
$gutter-size-small_4: math.div($gutter-size-regular, 3);
$gutter-size-small_5: math.div($gutter-size-regular, 3.5);
$gutter-size-small_6: math.div($gutter-size-regular, 4);

$gutter-size-large_1: $gutter-size-regular*1.5;
$gutter-size-large_2: $gutter-size-regular*2;
$gutter-size-large_3: $gutter-size-regular*2.5;
$gutter-size-large_4: $gutter-size-regular*3;
$gutter-size-large_5: $gutter-size-regular*3.5;
$gutter-size-large_6: $gutter-size-regular*4;


//! Colors
$title: #1aa0dfec;
$texte: #97b0bc;