body {
    box-sizing: content-box;
    min-width: $mobile-min;
    max-width: $giant-max;
    width: auto;
    height: auto;
    text-align: center;
    padding: $gutter-small_5;

    %anton {
        font-family: Anton, 'Sans-serif';
        font-size: $font-size-regular;
        color: #97b0bc;
        letter-spacing: 0.2em;

    }

    %quicksand {
        font-family: Quicksand, 'Sans-serif';
        font-size: $font-size-regular;
        color: #97b0bc;
    }
}