@font-face {
    font-family: "Saira Stencil One";
    src: url("/integration/design/fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf");
}

@font-face {
    font-family: "Dosis";
    src: url("/integration/design/fonts/Dosis/Dosis-VariableFont_wght.ttf");
}