@font-face {
    font-family: "Anton";
    src: url("/integration/design/fonts/Anton/Anton-Regular.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("/integration/design/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}