.header-index {
    display: flex;
    background-image: url("../../img/turtle-banner.jpg");

    h1 {
        font-family: Anton, "Sans-serif";
        text-transform: uppercase;
        font-size: $font-size-large_4;
        color: rgba(26, 160, 223, 0.05);
        -webkit-text-stroke: 1px #1aa0dfec;
    }

    // h2 {
    //     
        
    // }

    &__titles {
        .h2 {
            display: flex;
            justify-content: flex-end;
            font-family: Anton, "Sans-serif";
            font-style: italic;
            color: rgba(26, 160, 223, 0.40);
            font-size: $font-size-large_1;
        }
    }
}