.header-index {
    //! -------------------- Mobile-first --------------------
    @media all and (min-width: 150px) {
        max-height: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .banner-img {
            opacity: 0.55;
            min-width: $mobile-min;
            max-height: 140px;

        }

        h1 {
            position: fixed;
            top: 20px;
            padding-top: $gutter-small_10;
            text-align: center;
            font-family: Quicksand, "Sans-serif";
            text-transform: uppercase;
            font-size: $font-size-large_1;
            letter-spacing: $font-size-small_7;
            color: rgba($color-title, 0.35);
            -webkit-text-stroke: 0.60px $color-fof;
        }

        h2 {
            position: relative;
            bottom: 25px;
            display: flex;
            justify-content: flex-end;
            height: 20px;
            font-family: Quicksand, "Sans-serif";
            font-style: italic;
            letter-spacing: $font-size-small_7;
            color: rgba($color-fof, 0.85);
            font-size: $font-size-small_1;
        }
    }

    //! -------------------- Tablet mode --------------------
    @media all and (min-width: $tablet-min) {        
        .banner-img {
            max-width: $tablet-max;
            max-height: 248px;
        }
        
        h1 {
            font-size: $font-size-large_2;
        }

        h2 {
            font-size: $font-size-regular;
            letter-spacing: $font-size-small_6;
        }
    }

    //! -------------------- Desktop mode --------------------
    @media all and (min-width: $desktop-min) {
        align-items: flex-start;

        .banner-img {
            max-width: $desktop-max;
            max-height: 350px;
        }
        
        h1 {
            text-align: left;
            font-size: $font-size-large_3;
            letter-spacing: $font-size-small_6;
            padding-left: $gutter-small_7;
        }

        h2 {
            left: 250px;
            bottom: 35px;
            font-size: $font-size_large_1;
            letter-spacing: $font-size-small_3;
        }
    }

    //! -------------------- Giant mode --------------------
    @media all and (min-width: $giant-min) {
        .banner-img {
            min-width: $giant-min; ;
            min-height: 350px;
        }
        
        h1 {
            
            font-size: $font-size-large_4;
            letter-spacing: $font-size-small_4;
        }

        h2 {
            font-size: $font-size-large_2;
            letter-spacing: $font-size-small_4;
            bottom: 45px;
            left: 300px;
        }
    }
}